/* for the whole home page*/
.home-page {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 70px;
  bottom: 10px;
  margin: 0;
}

/* for the friends stories container*/
.friends-stories-container {
  display: flex;
  justify-content: center !important;
  position: relative;
  height: 200px;
  column-gap: 8px;

}
.create-story,
.friend-story {
  width: 110px;
  height: 100%;
  position: relative;
  border-radius: 10px;
  flex-shrink: 0;
}
.my-profile-pic,
.story-img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.create-story-text,
.name {
  color: white;
  font-size: 13px;
  font-weight: 600;
  position: absolute;
  bottom: 8px;
  left: 10px;
  right: 10px;
}
.create-story-text {
  text-align: center;
  color: black;
}